<div class="container">
  <!-- <div class="my-row ">
        <div class="box-height w-100">col-8</div>
  </div> -->

  <!-- <div class="row">
    <div class="col-3">
      <button type="button" class="btn btn-outline-primary">Select University</button>
    </div>
    <div class="col-3">
      <button type="button" class="btn btn-outline-primary">Find University</button>
    </div>
    <div class="col-3">
      <button type="button" class="btn btn-outline-primary">Find Past Papers</button>
    </div>
    <div class="col-3">
      <button type="button" class="btn btn-outline-primary">Counseling Session</button>
    </div>

  </div>

  <div class="my-row">
    <div class="box-height">
      <p class="h6 text-muted">Select University</p>

      <ng-select [items]="universities" bindLabel="name" appendTo="body" [(ngModel)]="selectedUniversity"
        (change)="getUniversity()">
      </ng-select>

    </div>
    <div class="box-height">
      <p class="h6 text-muted">Find University</p>
      <form class="form-row" [formGroup]="profileForm" (ngSubmit)="onSubmit()">

        <input id="field" placeholder="Field Name" class="form-control mb-2" type="text" formControlName="field">
        <input id="department" placeholder="Department Name" class="form-control mb-2" type="text"
          formControlName="department">
        <input id="location" placeholder="Location (city)" class="form-control mb-2" type="text"
          formControlName="location">
        <button type="submit" class="btn btn-primary" [disabled]="!profileForm.valid">Find University</button>

      </form>
    </div>
    <div class="box-height">
      <p class="h6 text-muted">Select Past Papers</p>

      <ng-select [items]="pastPapers" bindLabel="name" appendTo="body" [(ngModel)]="selectedPastPaper"
        (change)="getPastPapers()">
      </ng-select>
    </div>
    <div class="box-height">
      <p class="h6 text-muted">Book Free Counseling Session</p>
      <form class="form-row" [formGroup]="profileForm" (ngSubmit)="onSubmit()">

        <input id="field" placeholder="Student Name" class="form-control mb-2" type="text" formControlName="field">
        <textarea id="department" placeholder="Comment" class="form-control mb-2" type="text"
          formControlName="department"> </textarea>
        <input id="location" placeholder="Location (city)" class="form-control mb-2" type="date"
          formControlName="location">



        <button type="submit" class="btn btn-primary" [disabled]="!profileForm.valid">Send Quotes</button>

      </form>
    </div>

  </div> -->

  <!-- University Details -->
  <div class="container-fluid">

    <div class="col-md-12">
      <p class="h4 text-muted">Select University</p>
      <ng-select [items]="universities" bindLabel="name" appendTo="body" [(ngModel)]="selectedUniversity"
        >
      </ng-select>
      <button  (click)="getUniversity()" type="button" class="btn btn-primary">Select University</button>

    </div>

  </div>
  

  
    <div class="card" *ngFor="let uniRerod of selectedUniversityRecord;">
        <div class="card-body">
          <!-- <h3 class="card-title">{{uniRerod.name}}</h3> -->
          <h4 class="card-title mb-2">Department: {{uniRerod.department}}</h4>
          <h4 class="card-subtitle mb-2 text-muted">City: {{uniRerod.city}}</h4>
          <h4 class="card-subtitle mb-2 text-muted">Facutly: {{uniRerod.facutly}}</h4>
          <h4 class="card-subtitle mb-2 text-muted">Eligibility: {{uniRerod.eligibility}}</h4>
          <h4 class="card-subtitle mb-2 text-muted">Date: {{uniRerod.date}}</h4>
          <h4 class="card-subtitle mb-2 text-muted">Test: {{uniRerod.test}}</h4>
          <h4 class="card-subtitle mb-2 text-muted">Years Of Graduation: {{uniRerod.years_of_graduation}}</h4>
          <!-- <a href="#" class="card-link">More Detai</a> -->
        </div>
      </div>
  
</div>