<div class="wrapper">
    <div class="profile-img-wrapper">
        <ngx-avatar size="162" borderColor="#fff" src="{{imageSourcePath}}">
        </ngx-avatar>
        <button class="set-img-btn">
            <span class="material-icons"> photo_camera </span>
        </button>
    </div>
    <div class="title">
        <span>
            {{loggedInUser.data.fullName || 'John Doe'}}
        </span>
        <span class="material-icons">
            edit
        </span>
    </div>
    <div class="id-wrapper">
        <span>
            DriveThru ID: {{loggedInUser.data.studentId || ''}}
        </span>
    </div>
    <div class="id-wrapper">
        <a routerLink="/dashboard/form" class="compeleteProfile">Complete Profile</a>
    </div>
    <div class="quick-links">
        <h3>My Quick Links</h3>
        <ul>
            <li class="resume-study">
                <a title="Resume Study">
                    <span class="resume-label">Continue Learning</span>
                </a>
            </li>
            <li class="">
                <a title="Learner Record">
                    <span class="resume-label">Learner Record</span>
                </a>
            </li>
            <li class="">
                <a title="Learner Report">
                    <span class="resume-label">Learner Report</span>
                </a>
            </li>
            <li class="">
                <a>
                    <span class="resume-label">Account Settings</span>
                </a>
            </li>
            <li class="">
                <a class="dash-reset" href="#" title="Reset my Dashboard">
                    <span class="resume-label">Reset my Dashboard</span>
                </a>
            </li>
        </ul>
    </div>
</div>