button {
    margin: 0px !important; 
    background: none; border: none;
}
#header{
    height: 100px !important;
    
justify-content: space-between;
}

.nav-logo {
display: flex;
align-items: center;
}

.nav-heading {
    color: #2b5792;
    font-size: 40px;
    font-weight: 500;
    margin-top: 6%;
}
.nav-thru {
    color: #f3712a;

}

.nav-sub {
        position: absolute;
    top: 70%;
    left: 18.5%;
    font-size: 11px !important;
}

.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  border-radius: 5px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
//   color: black;
  color: #f3712a;
  padding: 12px 16px;
  text-decoration: none;
  text-align: center;
  display: block;
}

.dropdown-content a:hover {background-color: black; border-radius: 5px; color: white;}

.dropdown:hover .dropdown-content {display: block; border-radius: 5px;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}