button {
    margin: 0px !important; 
    background: none; border: none;
}
#header{
    height: 100px !important;
    
justify-content: space-between;
}

.nav-logo {
display: flex;
align-items: center;
}

.nav-heading {
    color: #2b5792;
        font-size: 2.5vw;
    font-weight: 600;
    margin-top: 5%;
}
.nav-thru {
    color: #f3712a;

}

.nav-sub {
        position: absolute;
    top: 70%;
    left: 46.5%;
    font-size: 9px !important;
    
}

.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  border-radius: 5px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
//   color: black;
  color: #f3712a;
  padding: 12px 16px;
  text-decoration: none;
  text-align: center;
  display: block;
}

.dropdown-content a:hover {background-color: black; border-radius: 5px; color: white;}

.dropdown:hover .dropdown-content {display: block; border-radius: 5px;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}


.example-spacer {
  flex: 1 1 auto;
}

.logo-spacing {
  margin-left: 3%;
  cursor: pointer;
  height: 60px;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    height: 80px;
}

.nav-section a {
  margin-right: 5px !important;
}

.head-contact {
//  width: 12%;
 color: #fac06c;
 border: 1px solid #fac06c;
 border-radius: 5px;
 margin-right: 5px;
 display: flex;
  justify-content: space-between;
   align-items: center;
}

.head-contact > img {
    width: 11%;
    margin-top: -1%;
    margin-left: 7%;
}
.head-contact p {
    font-size: 1vw;
    margin-top: 8%;
    margin-right: 5%;
} 

.nav-section a{
  font-size: 10px !important;
  font-weight: 800;
  color: #29538f;
  margin: 0 5px;
}

.nav-btn{
  color: white !important;
}