<header class="nav-section">
  <mat-toolbar>
    <span class="logo-spacing" data-aos="zoom-in">
      <div class="nav-logo me-auto">
        <span data-aos="zoom-in"> <img routerLink="/" src="assets/img/nav-app-logo.png" height="60"
            width="100" alt="logo" />
        </span>
        <p data-aos="zoom-out" class="nav-heading">DRIVE<span class="nav-thru">THRU</span></p>
        <p data-aos="zoom-out" class="nav-sub">STEERING YOUR <span class="nav-thru">ACADEMIC AVENUE</span></p>
      </div>
    </span>
    <span class="example-spacer"></span>


    
  </mat-toolbar>
</header>