


<header class="nav-section">
  <nav class="row justify-content-between text-center">
    <span class="col-3" style="" data-aos="zoom-in">
      <div class="nav-logo me-auto mt-2">
        <span data-aos="zoom-in"> <img routerLink="/" src="assets/img/nav-app-logo.png"
            width="90%" alt="logo" />
        </span>
        <p data-aos="zoom-out" class="nav-heading">DRIVE<span class="nav-thru">THRU</span></p>
        <p data-aos="zoom-out" class="nav-sub">STEERING YOUR <span class="nav-thru">ACADEMIC AVENUE</span></p>
      </div>
    </span>
    <!-- <span class="example-spacer"></span> -->

    <div class="col-6 navbar mt-2 "data-aos="zoom-right">
      <ul>
        <li >
          <a routerLink="/" class="nav-link">
            HOW IT WORKS
          </a>
        </li>
        <li >
        <a routerLink="/" class="nav-link">
          SUBJECT
        </a>
        </li>
        <li >
          <a routerLink="/" class="nav-link">
            SERVICES
          </a>
        </li>
        <li >
          <a routerLink="/" class="nav-link">
          CONTACT US
          </a>
        </li>
        <li >
          <a routerLink="/" class="nav-link">
            INFORMATION
          </a>
        </li>
        
        <li >
          <a routerLink="/" class="nav-link">
            INFORMATION
          </a>
        </li>

      </ul>

    </div>
    <!-- 
    
    
    <
     -->

    <div class="col-3 d-flex mt-2">
      <div class="col-6 head-contact" *ngIf='!isToken'>
        <img src="https://img.icons8.com/ios/50/fa314a/phone.png" />
        <p>
          +92 345 75 15152
        </p>
      </div>

      <div class="col-6 mt-3"  *ngIf='isToken'>
         <button mat-flat-button color="primary" *ngIf="countryCheck" (click)="switchInternational()">Switch to National</button>
         <button mat-flat-button color="primary" *ngIf="!countryCheck" (click)="switchNational()">Switch to International</button>
      </div>
      <div class="col-6 mt-3" *ngIf='!isToken'>
        <a routerLink="/auth/signup" class="btn btn-primary mr-2 text-white">SIGN UP</a>
        <a routerLink="/auth/signin" class="btn btn-primary text-white">LOGIN</a>
      </div>
      <div class="col-3 mt-3" *ngIf='isToken'>
      </div>
      <div class="col-3 mt-3" *ngIf='isToken'>
                 <button mat-flat-button color="primary" (click)="logoutUser()">Logout</button>

      </div>
      
    </div>
  </nav>
</header>