<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <button mat-flat-button color="primary" (click)="scroll('target1')">Select University</button>
    </div>
    <div class="col-3 text-center">
      <button mat-flat-button color="primary" (click)="scroll('target2')">Find Universty</button>
    </div>
    <div class="col-3 text-center">
      <button mat-flat-button color="primary" (click)="scroll('target3')">Past Papers</button>
    </div>
    <div class="col-3 text-center">
      <button mat-flat-button color="primary" (click)="scroll('target4')">Counselling Session</button>
    </div>
  </div>

  <hr class="px-5" />

  <button id='target1' mat-flat-button color="primary">Select University</button>
  <form [formGroup]="selectUniversty">
    <div class="row my-3 px-3">
      <div class="col-12">
          <ng-select appearance='fill' placeholder="Universty Name"  formControlName="universty" [items]="universities"  bindLabel="name" appendTo="body" 
        >
      </ng-select>
        <!-- <mat-form-field
          style="width: 100%"
          class="example-form-field"
          appearance="fill"
        >
          <mat-label>University Name</mat-label>
          <input
            matInput
            type="text"
            name="Universty Name"
            formControlName="universty"
          />
          
          <button
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="selectUniverstySubmit()"
          >
            <mat-icon>search</mat-icon>
          </button>
          <mat-error
            *ngIf="selectUniversty.get('universty').hasError('required')"
          >
            University Name is requried
          </mat-error>
        </mat-form-field> -->
        
      </div>
    </div>
  </form>
  <ng-container *ngIf="selectedUniversityRecord.length > 0">
    <div class="card my-4" *ngFor="let uniRerod of selectedUniversityRecord">
      <div class="card-body">
        <h4 class="card-title mb-2">Department: {{ uniRerod.department }}</h4>
        <h4 class="card-subtitle mb-2 text-muted">City: {{ uniRerod.city }}</h4>
        <h4 class="card-subtitle mb-2 text-muted">
          Facutly: {{ uniRerod.facutly }}
        </h4>
        <h4 class="card-subtitle mb-2 text-muted">
          Eligibility: {{ uniRerod.eligibility }}
        </h4>
        <h4 class="card-subtitle mb-2 text-muted">
          Low Fee: {{ uniRerod.fee.lowfee }}k
        </h4>
        <h4 class="card-subtitle mb-2 text-muted">
          High Fee: {{ uniRerod.fee.highfee }}k
        </h4>
        <h4 class="card-subtitle mb-2 text-muted">Date: {{ uniRerod.date }}</h4>
        <h4 class="card-subtitle mb-2 text-muted">Test: {{ uniRerod.test }}</h4>
        <h4 class="card-subtitle mb-2 text-muted">
          Years Of Graduation: {{ uniRerod.years_of_graduation }}
        </h4>
      </div>
    </div>
    <hr class="px-5" />
  </ng-container>

  <button id='target2' mat-flat-button color="primary">Find Universty</button>
  <form [formGroup]="findUniversity">
    <div class="row my-3 px-3">
      <div class="col-6">
        <mat-form-field style="width: 100%" appearance="fill">
          <mat-label>Universty Name</mat-label>
          <mat-select disableRipple formControlName="universty">
            <mat-option
              *ngFor="let universty of universities"
              [value]="universty"
            >
              {{ universty }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="findUniversity.get('universty').hasError('required')"
          >
            University Name is requried
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-6"></div>
    </div>

    <div class="row my-3 px-3">
      <div class="col-6">
        <mat-form-field style="width: 100%" appearance="fill">
          <mat-label>Department Name</mat-label>
          <mat-select disableRipple formControlName="department">
            <mat-option
              *ngFor="let department of departments"
              [value]="department"
            >
              {{ department }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="findUniversity.get('department').hasError('required')"
          >
            Department is requried
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field style="width: 100%" appearance="fill">
          <mat-label>Location (city)</mat-label>
          <mat-select disableRipple formControlName="location">
            <mat-option *ngFor="let location of locations" [value]="location">
              {{ location }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="findUniversity.get('location').hasError('required')"
          >
            Location (city) is requried
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row mb-3 text-center">
      <div class="col-12">
        <button
          mat-flat-button
          class="searchCounter"
          (click)="findUniversitySubmit()"
        >
          Find Your Countery <mat-icon>search</mat-icon>
        </button>
      </div>
    </div>
  </form>

  <ng-container *ngIf="findedUniversityRecord.length > 0">
    <div class="card my-4" *ngFor="let uniRerod of findedUniversityRecord">
      <div class="card-body">
        <h4 class="card-title mb-2">Department: {{ uniRerod.department }}</h4>
        <h4 class="card-subtitle mb-2 text-muted">City: {{ uniRerod.city }}</h4>
        <h4 class="card-subtitle mb-2 text-muted">
          Facutly: {{ uniRerod.facutly }}
        </h4>
        <h4 class="card-subtitle mb-2 text-muted">
          Eligibility: {{ uniRerod.eligibility }}
        </h4>
         <h4 class="card-subtitle mb-2 text-muted">
          Low Fee: {{ uniRerod.fee.lowfee }}k
        </h4>
        <h4 class="card-subtitle mb-2 text-muted">
          High Fee: {{ uniRerod.fee.highfee }}k
        </h4>
        <h4 class="card-subtitle mb-2 text-muted">Date: {{ uniRerod.date }}</h4>
        <h4 class="card-subtitle mb-2 text-muted">Test: {{ uniRerod.test }}</h4>
        <h4 class="card-subtitle mb-2 text-muted">
          Years Of Graduation: {{ uniRerod.years_of_graduation }}
        </h4>
      </div>
    </div>
    <hr class="px-5" />
  </ng-container>

  <button mat-flat-button color="primary" id='target3'>Find Past Papers</button>
  <div class="row my-3 px-3">
    <div class="col-12">
      <mat-form-field style="width: 100%" appearance="fill">
        <mat-label>Download Past Papers</mat-label>
        <mat-select disableRipple>
          <mat-option value="1">Comsats</mat-option>
          <mat-option value="2">LUMS</mat-option>
          <mat-option value="3">GC</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="row mb-3 text-center">
    <div class="col-12">
      <button mat-flat-button class="searchCounter">
        Find Your Countery <mat-icon>search</mat-icon>
      </button>
    </div>
  </div>

  <button mat-flat-button color="primary" id='target4'>Counselling Session</button>

  <form [formGroup]="counsellingSession">
    <div class="row my-3 px-3">
      <div class="col-12">
        <mat-form-field style="width: 100%" appearance="fill">
          <mat-label>What Help You Want</mat-label>
          <!-- <mat-select disableRipple formControlName="universty">
            <mat-option
              *ngFor="let universty of universities"
              [value]="universty"
            >
              {{ universty }}
            </mat-option>
          </mat-select> -->
          <input matInput type="text" formControlName="comment">
          <mat-error
            *ngIf="counsellingSession.get('comment').hasError('required')"
          >
            Comment is requried
          </mat-error>
        </mat-form-field>
      </div>
      <!-- <div class="col-6"></div> -->
    </div>

    <div class="row my-3 px-3">
      <div class="col-12">
        <mat-form-field style="width: 100%" appearance="fill">
          <mat-label>Reason</mat-label>
          <!-- <mat-select disableRipple formControlName="department">
            <mat-option
              *ngFor="let department of departments"
              [value]="department"
            >
              {{ department }}
            </mat-option>
          </mat-select> -->
          <textarea matInput
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
            formControlName="reason"
            >
        </textarea>
          <mat-error
            *ngIf="counsellingSession.get('reason').hasError('required')"
          >
            Reason is requried
          </mat-error>
        </mat-form-field>
      </div>
      <!-- <div class="col-6">
        <mat-form-field style="width: 100%" appearance="fill">
          <mat-label>Location (city)</mat-label>
          <mat-select disableRipple formControlName="location">
            <mat-option *ngFor="let location of locations" [value]="location">
              {{ location }}
            </mat-option>
            <mat-error
              *ngIf="counsellingSession.get('location').hasError('required')"
            >
              Location (city) is requried
            </mat-error>
          </mat-select>
        </mat-form-field>
      </div> -->
    </div>

    <div class="row mb-3 text-center">
      <div class="col-12">
        <button
          mat-flat-button
          type="button"
          class="searchCounter"
          (click)="selectCounsellingSessionSubmit()"
        >
          Submit
        </button>
      </div>
    </div>
  </form>

  <!-- <ng-container *ngIf="counsellingRecord.length > 0">
    <div class="card my-4" *ngFor="let uniRerod of counsellingRecord">
      <div class="card-body">
        <h4 class="card-title mb-2">Department: {{ uniRerod.department }}</h4>
        <h4 class="card-subtitle mb-2 text-muted">City: {{ uniRerod.city }}</h4>
        <h4 class="card-subtitle mb-2 text-muted">
          Facutly: {{ uniRerod.facutly }}
        </h4>
        <h4 class="card-subtitle mb-2 text-muted">
          Eligibility: {{ uniRerod.eligibility }}
        </h4>
        <h4 class="card-subtitle mb-2 text-muted">Date: {{ uniRerod.date }}</h4>
        <h4 class="card-subtitle mb-2 text-muted">Test: {{ uniRerod.test }}</h4>
        <h4 class="card-subtitle mb-2 text-muted">
          Years Of Graduation: {{ uniRerod.years_of_graduation }}
        </h4>
      </div>
    </div>
    <hr class="px-5" />
  </ng-container> -->
</div>
