<div class="container-fluid">
  

  <div class="row">
    <div class="col-3">
      <button mat-flat-button color="primary">Select Country</button>
    </div>
    <div class="col-3 text-center">
      <button mat-flat-button color="primary">
        Find Universty
      </button>
    </div>
    <div class="col-3 text-center">
      <button mat-flat-button color="primary">
        Past Papers
      </button>
    </div>
    <div class="col-3 text-center">
      <button mat-flat-button color="primary">
        Counselling Session
      </button>
    </div>
  </div>

  <hr class="px-5" />

  <button mat-flat-button color="primary">Select Country</button>
  <div class="row my-3 px-3">
    <div class="col-12">
      <mat-form-field
        style="width: 100%"
        class="example-form-field"
        appearance="fill"
      >
        <mat-label>University Name</mat-label>
        <input matInput type="text" name="Universty Name" />
        <button matSuffix mat-icon-button aria-label="Clear">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>

  <button mat-flat-button color="primary">
    Find Universty
  </button>
  <div class="row my-3 px-3">
    <div class="col-6">
      <mat-form-field style="width: 100%" appearance="fill">
        <mat-label>Universty Name</mat-label>
        <mat-select disableRipple>
          <mat-option value="1">Comsats</mat-option>
          <mat-option value="2">LUMS</mat-option>
          <mat-option value="3">GC</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-6">
        <mat-form-field style="width: 100%" appearance="fill">
        <mat-label>Location (city)</mat-label>
        <mat-select disableRipple>
          <mat-option value="1">Lahore</mat-option>
          <mat-option value="2">Islamabad</mat-option>
          <mat-option value="3">Vehari</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="row my-3 px-3">
    <div class="col-6">
      <mat-form-field style="width: 100%" appearance="fill">
        <mat-label>Department Name</mat-label>
        <mat-select disableRipple>
          <mat-option value="1">Computer Sience</mat-option>
          <mat-option value="2">Engineering</mat-option>
          <mat-option value="3">MS English</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-6">
         <mat-form-field style="width: 100%" appearance="fill">
        <mat-label>Location (city)</mat-label>
        <mat-select disableRipple>
          <mat-option value="1">Lahore</mat-option>
          <mat-option value="2">Islamabad</mat-option>
          <mat-option value="3">Vehari</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="row mb-3 text-center">
    <div class="col-12">
      <button mat-flat-button class="searchCounter">
        Find Your Countery <mat-icon>search</mat-icon>
      </button>
    </div>
  </div>


<button mat-flat-button color="primary">
     Find Past Papers
  </button>
  <div class="row my-3 px-3">
    <div class="col-12">
      <mat-form-field style="width: 100%" appearance="fill">
        <mat-label>Download Past Papers</mat-label>
        <mat-select disableRipple>
          <mat-option value="1">Comsats</mat-option>
          <mat-option value="2">LUMS</mat-option>
          <mat-option value="3">GC</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="row mb-3 text-center">
    <div class="col-12">
      <button mat-flat-button class="searchCounter">
        Find Your Countery <mat-icon>search</mat-icon>
      </button>
    </div>
  </div>


  <button mat-flat-button color="primary">
    Counselling Session
  </button>
  <div class="row my-3 px-3">
    <div class="col-6">
      <mat-form-field style="width: 100%" appearance="fill">
        <mat-label>Universty Name</mat-label>
        <mat-select disableRipple>
          <mat-option value="1">Comsats</mat-option>
          <mat-option value="2">LUMS</mat-option>
          <mat-option value="3">GC</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-6">
        <mat-form-field style="width: 100%" appearance="fill">
        <mat-label>Location (city)</mat-label>
        <mat-select disableRipple>
          <mat-option value="1">Lahore</mat-option>
          <mat-option value="2">Islamabad</mat-option>
          <mat-option value="3">Vehari</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="row my-3 px-3">
    <div class="col-6">
      <mat-form-field style="width: 100%" appearance="fill">
        <mat-label>Department Name</mat-label>
        <mat-select disableRipple>
          <mat-option value="1">Computer Sience</mat-option>
          <mat-option value="2">Engineering</mat-option>
          <mat-option value="3">MS English</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-6">
         <mat-form-field style="width: 100%" appearance="fill">
        <mat-label>Location (city)</mat-label>
        <mat-select disableRipple>
          <mat-option value="1">Lahore</mat-option>
          <mat-option value="2">Islamabad</mat-option>
          <mat-option value="3">Vehari</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="row mb-3 text-center">
    <div class="col-12">
      <button mat-flat-button class="searchCounter">
        Find Your Countery <mat-icon>search</mat-icon>
      </button>
    </div>
  </div>

</div>
