<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    .submitbutton {
      width: 100%;
      background: #e03a3c;
      color: white;
    }

    .margintop {
      margin-top: 100px;
      margin-bottom: 100px;
    }
  </style>
</head>

<body>
  <mat-drawer-container autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" opened>
      <app-profile></app-profile>
    </mat-drawer>
    <div class="container margintop">
      <form action="/action_page.php">
        <mat-horizontal-stepper #stepper>
          <mat-step>
            <ng-template matStepLabel>Personal Information</ng-template>
            <div class="row justify-content-center">
              <div class="col-6">
                <h1>Personal Information</h1>
                <div class="form-group">
                  <label for="email">Name:</label>
                  <input type="email" class="form-control" id="email" placeholder="Name" name="email" />
                </div>
                <div class="form-group">
                  <label for="email">Father Name:</label>
                  <input type="email" class="form-control" id="email" placeholder="Father Name" name="email" />
                </div>
                <div class="form-group">
                  <label for="email">Mother Name:</label>
                  <input type="email" class="form-control" id="email" placeholder="Mother Name" name="email" />
                </div>
                <div class="form-group">
                  <label for="email">CNIC # / B-Form #:</label>
                  <input type="email" class="form-control" id="email" placeholder="CNIC # / B-Form #" name="email" />
                </div>
                <div class="form-group">
                  <label for="email">Date Of Birth (exactly as it appears on SSC/ O-Level
                    Certificate):</label>
                  <input type="email" class="form-control" id="email" placeholder="MM/DD/YYYY" name="email" />
                </div>
                <div class="form-group">
                  <label for="sel1">Gender:</label>
                  <select class="form-control" id="sel1">
                    <option>Male</option>
                    <option>Female</option>
                    <option>Other</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="email">Religion:</label>
                  <input type="email" class="form-control" id="email" placeholder="Religion" name="email" />
                </div>
                <div class="form-group">
                  <label for="email">Blood Group:</label>
                  <input type="email" class="form-control" id="email" placeholder="Religion" name="email" />
                </div>
                <div class="form-group">
                  <label for="pwd">Passport No (If available):</label>
                  <input type="password" class="form-control" id="pwd" placeholder="Passport No" name="pwd" />
                </div>
                <div class="form-group">
                  <label for="sel1">Martial Status:</label>
                  <select class="form-control" id="sel1">
                    <option>Single</option>
                    <option>Married</option>
                    <option>Divorced</option>
                    <option>Widow</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="pwd">Name of Kin:</label>
                  <input type="password" class="form-control" id="pwd" placeholder="Name of Kin" name="pwd" />
                </div>
                <div class="form-group">
                  <label for="pwd">Next of Kin Relationship:</label>
                  <input type="password" class="form-control" id="pwd" placeholder="Select Next of kin relation"
                    name="pwd" />
                </div>

                <div class="row">
                  <div class="col-6">
                    <button type="submit" (click)="stepperNext(stepper)" class="btn btn-default submitbutton">
                      Submit
                    </button>
                  </div>
                  <div class="col-6">
                    <button type="submit" (click)="stepperNext(stepper)" class="btn btn-default submitbutton">
                      Next
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Gardian Information</ng-template>
            <div class="row justify-content-center">
              <div class="col-6">
                <h2>Guardian Information</h2>
                <div class="form-group">
                  <label for="pwd">Guardian Name:</label>
                  <input type="password" class="form-control" id="pwd" placeholder="Guardian Name" name="pwd" />
                </div>
                <div class="form-group">
                  <label for="sel1">Guardian Relationship:</label>
                  <select class="form-control" id="sel1">
                    <option>Father</option>
                    <option>Mother</option>
                    <option>Uncle</option>
                    <option>Aunt</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="pwd">Guardian Monthly Income:</label>
                  <input type="password" class="form-control" id="pwd" placeholder="Guardian Monthly Income"
                    name="pwd" />
                </div>
                <div class="form-group">
                  <label for="pwd">Guardian Cell No:</label>
                  <input type="password" class="form-control" id="pwd" placeholder="Guardian Cell No" name="pwd" />
                </div>
                <div class="form-group">
                  <label for="pwd">Guardian Occupation:</label>
                  <input type="password" class="form-control" id="pwd" placeholder="Guardian Occupation" name="pwd" />
                </div>
                <div class="form-group">
                  <label for="pwd">Guardian CNIC:</label>
                  <input type="password" class="form-control" id="pwd" placeholder="Guardian CNIC" name="pwd" />
                </div>
                <div class="form-group">
                  <label for="pwd">Guardian NTN (If Available):</label>
                  <input type="password" class="form-control" id="pwd" placeholder="Guardian NTN" name="pwd" />
                </div>
                <div class="row">
                  <div class="col-4">
                    <button type="submit" (click)="stepperPrevious(stepper)" class="btn btn-default submitbutton">
                      Back
                    </button>
                  </div>
                  <div class="col-4">
                    <button type="submit" (click)="stepperNext(stepper)" class="btn btn-default submitbutton">
                      Submit
                    </button>
                  </div>
                  <div class="col-4">
                    <button type="submit" (click)="stepperNext(stepper)" class="btn btn-default submitbutton">
                      Next
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Academic Information</ng-template>
            <div class="row justify-content-center">
              <div class="col-6">
                <h1>Academic Information</h1>
                <h2>Matriculation/SSC/O-Level or Equivalent</h2>
                <div class="form-group">
                  <label for="sel1">Exam Passed:</label>
                  <select class="form-control" id="sel1">
                    <option>Intermediate</option>
                    <option>O-Levels</option>
                    <option>Bachlors</option>
                    <option>Masters</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="pwd">School/Institution:</label>
                  <input type="password" class="form-control" id="pwd" placeholder="Alternative Cell No" name="pwd" />
                </div>
                <div class="form-group">
                  <label for="sel1">Board:</label>
                  <select class="form-control" id="sel1">
                    <option>Punjab</option>
                    <option>Sindh</option>
                    <option>Sarhad</option>
                    <option>Balochistan</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="pwd">Year of Passing:</label>
                  <input type="password" class="form-control" id="pwd" placeholder="Year of Passing" name="pwd" />
                </div>
                <div class="form-group">
                  <label for="pwd">Serial Number:</label>
                  <input type="password" class="form-control" id="pwd" placeholder="Serial Number" name="pwd" />
                </div>
                <div class="form-group">
                  <label for="pwd">Reference Number:</label>
                  <input type="password" class="form-control" id="pwd" placeholder="Reference Number" name="pwd" />
                </div>
                <div class="form-group">
                  <label for="pwd">Marks Obtained:</label>
                  <input type="password" class="form-control" id="pwd" placeholder="Marks Obtained" name="pwd" />
                </div>
                <div class="form-group">
                  <label for="pwd">Total Marks:</label>
                  <input type="password" class="form-control" id="pwd" placeholder="Total Marks" name="pwd" />
                </div>

                <h2>F.Sc Pre-Engineering(Maths, Phys, Chem) or Equivalent</h2>
                <div class="form-group">
                  <label for="pwd">School/Institution*:</label>
                  <input type="password" class="form-control" id="pwd" placeholder="School/Institution" name="pwd" />
                </div>
                <div class="form-group">
                  <label for="sel1">Board/University*:</label>
                  <select class="form-control" id="sel1">
                    <option>Punjab</option>
                    <option>Sindh</option>
                    <option>Sarhad</option>
                    <option>Balochistan</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="pwd">Year of Passing*:</label>
                  <input type="password" class="form-control" id="pwd" placeholder="Year of Passing" name="pwd" />
                </div>
                <div class="form-group">
                  <label for="pwd">Role No*:</label>
                  <input type="password" class="form-control" id="pwd" placeholder="Role No" name="pwd" />
                </div>
                <div class="form-group">
                  <label for="pwd">Registration No*:</label>
                  <input type="password" class="form-control" id="pwd" placeholder="Registration No" name="pwd" />
                </div>
                <div class="form-group">
                  <label for="pwd">Marks Obtained*:</label>
                  <input type="password" class="form-control" id="pwd" placeholder="Marks Obtained" name="pwd" />
                </div>
                <div class="form-group">
                  <label for="pwd">Total Marks*:</label>
                  <input type="password" class="form-control" id="pwd" placeholder="Total Marks" name="pwd" />
                </div>
                <div class="row">
                  <div class="col-4">
                    <button type="submit" (click)="stepperPrevious(stepper)" class="btn btn-default submitbutton">
                      Back
                    </button>
                  </div>
                  <div class="col-4">
                    <button type="submit" (click)="stepperNext(stepper)" class="btn btn-default submitbutton">
                      Submit
                    </button>
                  </div>
                  <div class="col-4">
                    <button type="submit" (click)="stepperNext(stepper)" class="btn btn-default submitbutton">
                      Next
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Set Your Preference</ng-template>

            <div class="row justify-content-center">
              <div class="col-6">
                <div class="row">
                  <div class="col-6">
                    <button type="submit" (click)="stepperPrevious(stepper)" class="btn btn-default submitbutton">
                      Back
                    </button>
                  </div>
                  <div class="col-6">
                    <button type="submit" (click)="stepperNext(stepper)" class="btn btn-default submitbutton">
                      Next
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Commence Applying</ng-template>

            <div class="row justify-content-center">
              <div class="col-6">
                <div class="row">
                  <div class="col-6">
                    <button type="submit" (click)="stepperPrevious(stepper)" class="btn btn-default submitbutton">
                      Back
                    </button>
                  </div>
                  <div class="col-6">
                    <button type="submit" (click)="stepperNext(stepper)" class="btn btn-default submitbutton">
                      Submit
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
      </form>
    </div>

    <!-- <div class="container margintop">
        <form action="/action_page.php">
          <h2>Initial Signup Form</h2>
          <div class="form-group">
            <label for="email">Full Name:</label>
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="Full Name"
              name="email"
            />
          </div>
          <div class="form-group">
            <label for="email">Father Name:</label>
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="Father Name"
              name="email"
            />
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="Enter email"
              name="email"
            />
          </div>
          <div class="form-group">
            <label for="email">Confirm Email:</label>
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="Confirm email"
              name="email"
            />
          </div>
          <div class="form-group">
            <label for="email">Cell No:</label>
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="Cell No"
              name="email"
            />
          </div>
          <div class="form-group">
            <label for="email">Alternative Cell No:</label>
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="Alternative Cell No"
              name="email"
            />
          </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input
              type="password"
              class="form-control"
              id="pwd"
              placeholder="Enter password"
              name="pwd"
            />
          </div>
          <div class="form-group">
            <label for="pwd">Confirm Password:</label>
            <input
              type="password"
              class="form-control"
              id="pwd"
              placeholder="Confirm Password"
              name="pwd"
            />
          </div>
          <div class="form-group">
            <label for="sel1">Nationality:</label>
            <select class="form-control" id="sel1">
              <option>Pakistan</option>
              <option>Australia</option>
              <option>Canada</option>
              <option>England</option>
            </select>
          </div>
          <div class="form-group">
            <label for="sel1">Qualification:</label>
            <select class="form-control" id="sel1">
              <option>Intermediate</option>
              <option>O-Levels</option>
              <option>Bachlors</option>
              <option>Masters</option>
            </select>
          </div>
          <h1>Profile</h1>
          <h2>Personal Information</h2>          

          <h2>Contact/Demographic Information</h2>
          <div class="form-group">
            <label for="pwd">Applicant Cell No:</label>
            <input
              type="password"
              class="form-control"
              id="pwd"
              placeholder="Applicant Cell No"
              name="pwd"
            />
          </div>
          <div class="form-group">
            <label for="pwd">Alternative Cell No:</label>
            <input
              type="password"
              class="form-control"
              id="pwd"
              placeholder="Alternative Cell No"
              name="pwd"
            />
          </div>
          <div class="form-group">
            <label for="pwd">Landline Number:</label>
            <input
              type="password"
              class="form-control"
              id="pwd"
              placeholder="Landline Number"
              name="pwd"
            />
          </div>
          <div class="form-group">
            <label for="sel1">City of Resident:</label>
            <select class="form-control" id="sel1">
              <option>Lahore</option>
              <option>Islamabad</option>
              <option>Multan</option>
              <option>Other</option>
            </select>
          </div>
          <div class="form-group">
            <label for="sel1">Domicile:</label>
            <select class="form-control" id="sel1">
              <option>Punjab</option>
              <option>Sindh</option>
              <option>Sarhad</option>
              <option>Balochistan</option>
            </select>
          </div>
          <div class="form-group">
            <label for="sel1">Nationality:</label>
            <select class="form-control" id="sel1">
              <option>Pakistan</option>
              <option>Australia</option>
              <option>England</option>
              <option>Canada</option>
            </select>
          </div>
          <div class="form-group">
            <label for="comment">Postal/Present Address*:</label>
            <textarea class="form-control" rows="5" id="comment"></textarea>
          </div>
          <div class="form-group">
            <label for="comment">Permanent Address*:</label>
            <textarea class="form-control" rows="5" id="comment"></textarea>
          </div>
          <div class="form-group">
            <label for="sel1">Permanent District:</label>
            <select class="form-control" id="sel1">
              <option>Lahore</option>
              <option>Islamabad</option>
              <option>Multan</option>
              <option>Other</option>
            </select>
          </div>
          <div class="form-group">
            <label for="sel1">Permanent Tehsil:</label>
            <select class="form-control" id="sel1">
              <option>Lahore</option>
              <option>Islamabad</option>
              <option>Multan</option>
              <option>Other</option>
            </select>
          </div>
          <div class="form-group">
            <label for="sel1">Domicile District:</label>
            <select class="form-control" id="sel1">
              <option>Lahore</option>
              <option>Islamabad</option>
              <option>Multan</option>
              <option>Other</option>
            </select>
          </div>


         
          <button type="submit" class="btn btn-default submitbutton">
            Submit
          </button>
        </form>
      </div>  -->
  </mat-drawer-container>
</body>

</html>