<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    .submitbutton {
      width: 100%;
      background: #e03a3c;
      color: white;
    }

    .margintop {
      margin-top: 60px;
      margin-bottom: 60px;
    }
  </style>
</head>

<body>
  <mat-drawer-container autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" opened>
      <app-profile></app-profile>
    </mat-drawer>
    <div class="container margintop">
      <mat-horizontal-stepper #stepper>
        <mat-step>
          <ng-template matStepLabel>Personal Information</ng-template>
          <form [formGroup]="personalInfoForm">
            <div class="row justify-content-center">
              <div class="col-6">
                <h1>Personal Information</h1>
                <div class="form-group">
                  <label>Name:</label>
                  <input type="text"
                    class="form-control {{personalInfoForm.get('name').invalid && personalInfoForm.get('name').touched ? 'input-error' : ''}}"
                    formControlName="name" placeholder="Name" />
                </div>
                <div class="form-group">
                  <label>Father Name:</label>
                  <input type="text" class="form-control {{personalInfoForm.get('fatherName').invalid && personalInfoForm.get('fatherName').touched ? 'input-error' : ''}}" formControlName="fatherName" placeholder="Father Name" />
                </div>
                <div class="form-group">
                  <label>Mother Name:</label>
                  <input type="text" class="form-control {{personalInfoForm.get('motherName').invalid && personalInfoForm.get('motherName').touched ? 'input-error' : ''}}" formControlName="motherName" placeholder="Mother Name" />
                </div>
                <div class="form-group">
                  <label>CNIC # / B-Form #:</label>
                  <input type="number" class="form-control {{personalInfoForm.get('cnic').invalid && personalInfoForm.get('cnic').touched ? 'input-error' : ''}}" formControlName="cnic" placeholder="CNIC # / B-Form #" />
                </div>
                <div class="form-group">
                  <label>Date Of Birth (exactly as it appears on SSC/ O-Level
                    Certificate):</label>
                  <input type="date" class="form-control {{personalInfoForm.get('dob').invalid && personalInfoForm.get('dob').touched ? 'input-error' : ''}}" formControlName="dob" placeholder="MM/DD/YYYY" />
                </div>
                <div class="form-group">
                  <label>Gender:</label>
                  <select class="form-control {{personalInfoForm.get('gender').invalid && personalInfoForm.get('gender').touched ? 'input-error' : ''}}" formControlName="gender">
                    <option>Male</option>
                    <option>Female</option>
                    <option>Other</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Religion:</label>
                  <input type="text" formControlName="religion" class="form-control {{personalInfoForm.get('religion').invalid && personalInfoForm.get('religion').touched ? 'input-error' : ''}}" placeholder="Religion" />
                </div>
                <div class="form-group ">
                  <label>Blood Group:</label>
                  <select class="form-control {{personalInfoForm.get('bloodGroup').invalid && personalInfoForm.get('bloodGroup').touched ? 'input-error' : ''}}" formControlName="bloodGroup">
                    <option>A+</option>
                    <option>A-</option>
                    <option>B+</option>
                    <option>B-</option>
                    <option>O+</option>
                    <option>O+</option>
                    <option>AB+</option>
                    <option>AB-</option>
                    <option>Other</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Passport No (If available):</label>
                  <input type="text" formControlName="passportNumber" class="form-control {{personalInfoForm.get('passportNumber').invalid && personalInfoForm.get('passportNumber').touched ? 'input-error' : ''}}" placeholder="Passport No" />
                </div>
                <div class="form-group">
                  <label>Martial Status:</label>
                  <select class="form-control {{personalInfoForm.get('maritalStatus').invalid && personalInfoForm.get('maritalStatus').touched ? 'input-error' : ''}}" formControlName="maritalStatus">
                    <option>Single</option>
                    <option>Married</option>
                    <option>Divorced</option>
                    <option>Widow</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Name of Kin:</label>
                  <input type="text" formControlName="nameOfNextOfKin" class="form-control {{personalInfoForm.get('nameOfNextOfKin').invalid && personalInfoForm.get('nameOfNextOfKin').touched ? 'input-error' : ''}}" placeholder="Name of Kin" />
                </div>
                <div class="form-group">
                  <label>Next of Kin Relationship:</label>
                  <input type="text" formControlName="nextOfKinRelation" class="form-control {{personalInfoForm.get('nextOfKinRelation').invalid && personalInfoForm.get('nextOfKinRelation').touched ? 'input-error' : ''}}"
                    placeholder="Select Next of kin relation" />
                </div>

                <div class="row">
                  <div class="col-6">
                    <button [disabled]="personalInfoForm.invalid" type="submit" (click)="submitPersonalInfo()"
                      class="btn btn-default submitbutton">
                      Submit
                    </button>
                  </div>
                  <div class="col-6">
                    <button type="submit" (click)="fromPersonalToGuardian()" class="btn btn-default submitbutton">
                      Next
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Gardian Information</ng-template>
          <form [formGroup]="gardianInfoForm">
            <div class="row justify-content-center">
              <div class="col-6">
                <h2>Guardian Information</h2>
                <div class="form-group">
                  <label>Guardian Name:</label>
                  <input type="text" class="form-control  {{gardianInfoForm.get('guardianName').invalid && gardianInfoForm.get('guardianName').touched ? 'input-error' : ''}}" formControlName="guardianName" placeholder="Guardian Name" />
                </div>
                <div class="form-group">
                  <label>Guardian Relationship:</label>
                  <select class="form-control {{gardianInfoForm.get('guardianRelation').invalid && gardianInfoForm.get('guardianRelation').touched ? 'input-error' : ''}}" formControlName="guardianRelation">
                    <option>Father</option>
                    <option>Mother</option>
                    <option>Uncle</option>
                    <option>Aunt</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Guardian Monthly Income:</label>
                  <input type="number" class="form-control {{gardianInfoForm.get('guardianMonIncome').invalid && gardianInfoForm.get('guardianMonIncome').touched ? 'input-error' : ''}}" min="0" placeholder="Guardian Monthly Income"
                    formControlName="guardianMonIncome" />
                </div>
                <div class="form-group">
                  <label>Guardian Cell No:</label>
                  <input type="text" class="form-control {{gardianInfoForm.get('guardianCellNo').invalid && gardianInfoForm.get('guardianCellNo').touched ? 'input-error' : ''}}" formControlName="guardianCellNo"
                    placeholder="Guardian Cell No" />
                </div>
                <div class="form-group">
                  <label>Guardian Occupation:</label>
                  <input type="text" class="form-control {{gardianInfoForm.get('guardianOccupation').invalid && gardianInfoForm.get('guardianOccupation').touched ? 'input-error' : ''}}" formControlName="guardianOccupation"
                    placeholder="Guardian Occupation" />
                </div>
                <div class="form-group">
                  <label>Guardian CNIC:</label>
                  <input type="number" class="form-control {{gardianInfoForm.get('guardianCNIC').invalid && gardianInfoForm.get('guardianCNIC').touched ? 'input-error' : ''}}" formControlName="guardianCNIC"
                    placeholder="Guardian CNIC" />
                </div>
                <div class="form-group">
                  <label>Guardian NTN (If Available):</label>
                  <input type="text" class="form-control {{gardianInfoForm.get('guardianNTN').invalid && gardianInfoForm.get('guardianNTN').touched ? 'input-error' : ''}}" formControlName="guardianNTN" placeholder="Guardian NTN" />
                </div>
                <div class="row">
                  <div class="col-4">
                    <button type="submit" (click)="fromGuardianToPersonal()" class="btn btn-default submitbutton">
                      Back
                    </button>
                  </div>
                  <div class="col-4">
                    <button [disabled]="gardianInfoForm.invalid" type="submit" (click)="submitGardianInfo()"
                      class="btn btn-default submitbutton">
                      Submit
                    </button>
                  </div>
                  <div class="col-4">
                    <button type="submit" (click)="fromGuardianToAcdamic()" class="btn btn-default submitbutton">
                      Next
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Academic Information</ng-template>
          <div class="row justify-content-center">
            <div class="col-6">
              <h1>Academic Information</h1>
              <h2>Matriculation/SSC/O-Level or Equivalent</h2>
              <form [formGroup]="acadmicMetricInfoForm">
                <div class="form-group">
                  <label>Exam Passed:</label>
                  <select class="form-control {{acadmicMetricInfoForm.get('examPassed').invalid && acadmicMetricInfoForm.get('examPassed').touched ? 'input-error' : ''}}" formControlName="examPassed">
                    <option>Intermediate</option>
                    <option>O-Levels</option>
                    <option>Bachlors</option>
                    <option>Masters</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>School/Institution:</label>
                  <input type="text" class="form-control {{acadmicMetricInfoForm.get('school').invalid && acadmicMetricInfoForm.get('school').touched ? 'input-error' : ''}}" placeholder="Alternative Cell No" formControlName="school" />
                </div>
                <div class="form-group">
                  <label>Board:</label>
                  <select class="form-control {{acadmicMetricInfoForm.get('board').invalid && acadmicMetricInfoForm.get('board').touched ? 'input-error' : ''}}" formControlName="board">
                    <option>Punjab</option>
                    <option>Sindh</option>
                    <option>Sarhad</option>
                    <option>Balochistan</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Year of Passing:</label>
                  <input type="text" class="form-control {{acadmicMetricInfoForm.get('yearOfPassing').invalid && acadmicMetricInfoForm.get('yearOfPassing').touched ? 'input-error' : ''}}" placeholder="Year of Passing"
                    formControlName="yearOfPassing" />
                </div>
                <div class="form-group">
                  <label>Serial Number:</label>
                  <input type="text" class="form-control {{acadmicMetricInfoForm.get('serialNo').invalid && acadmicMetricInfoForm.get('serialNo').touched ? 'input-error' : ''}}" formControlName="serialNo" placeholder="Serial Number" />
                </div>
                <div class="form-group">
                  <label>Reference Number:</label>
                  <input type="text" class="form-control {{acadmicMetricInfoForm.get('referenceNo').invalid && acadmicMetricInfoForm.get('referenceNo').touched ? 'input-error' : ''}}" formControlName="referenceNo"
                    placeholder="Reference Number" />
                </div>
                <div class="form-group">
                  <label>Marks Obtained:</label>
                  <input type="number" class="form-control {{acadmicMetricInfoForm.get('marksObtained').invalid && acadmicMetricInfoForm.get('marksObtained').touched ? 'input-error' : ''}}" formControlName="marksObtained" placeholder="Marks Obtained"
                    min="0" />
                </div>
                <div class="form-group">
                  <label>Total Marks:</label>
                  <input type="number" min="0" class="form-control {{acadmicMetricInfoForm.get('totalMarks').invalid && acadmicMetricInfoForm.get('totalMarks').touched ? 'input-error' : ''}}" formControlName="totalMarks"
                    placeholder="Total Marks" />
                </div>
              </form>

              <form [formGroup]="acadmicInterInfoForm">
                <h2>F.Sc Pre-Engineering(Maths, Phys, Chem) or Equivalent</h2>

                <div class="form-group">
                  <label>School/Institution*:</label>
                  <input type="text" class="form-control {{acadmicInterInfoForm.get('school').invalid && acadmicInterInfoForm.get('school').touched ? 'input-error' : ''}}" formControlName="school" placeholder="School/Institution" />
                </div>
                <div class="form-group">
                  <label>Board/University*:</label>
                  <select class="form-control {{acadmicInterInfoForm.get('board').invalid && acadmicInterInfoForm.get('board').touched ? 'input-error' : ''}}" formControlName="board">
                    <option>Punjab</option>
                    <option>Sindh</option>
                    <option>Sarhad</option>
                    <option>Balochistan</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Year of Passing*:</label>
                  <input type="text" class="form-control {{acadmicInterInfoForm.get('yearOfPassing').invalid && acadmicInterInfoForm.get('yearOfPassing').touched ? 'input-error' : ''}}" formControlName="yearOfPassing"
                    placeholder="Year of Passing" />
                </div>
                <div class="form-group">
                  <label>Role No*:</label>
                  <input type="text" class="form-control {{acadmicInterInfoForm.get('rollNo').invalid && acadmicInterInfoForm.get('rollNo').touched ? 'input-error' : ''}}" formControlName="rollNo" placeholder="Role No" />
                </div>
                <div class="form-group">
                  <label>Registration No*:</label>
                  <input type="text" class="form-control  {{acadmicInterInfoForm.get('registrationNo').invalid && acadmicInterInfoForm.get('registrationNo').touched ? 'input-error' : ''}}" formControlName="registrationNo"
                    placeholder="Registration No" />
                </div>
                <div class="form-group">
                  <label>Marks Obtained*:</label>
                  <input type="number" class="form-control {{acadmicInterInfoForm.get('marksObtained').invalid && acadmicInterInfoForm.get('marksObtained').touched ? 'input-error' : ''}}" formControlName="marksObtained" min="0"
                    placeholder="Marks Obtained" />
                </div>
                <div class="form-group">
                  <label>Total Marks*:</label>
                  <input type="number" min="0" class="form-control {{acadmicInterInfoForm.get('totalMarks').invalid && acadmicInterInfoForm.get('totalMarks').touched ? 'input-error' : ''}}" formControlName="totalMarks"
                    placeholder="Total Marks" />
                </div>
                <div class="row">
                  <div class="col-4">
                    <button type="submit" (click)="stepperPrevious()" class="btn btn-default submitbutton">
                      Back
                    </button>
                  </div>
                  <div class="col-4">
                    <button type="submit" (click)="saveAcadmicInfo()" class="btn btn-default submitbutton"
                      [disabled]="acadmicMetricInfoForm.invalid || acadmicInterInfoForm.invalid">
                      Submit
                    </button>
                  </div>
                  <div class="col-4">
                    <button type="submit" (click)="stepperNext()" class="btn btn-default submitbutton">
                      Next
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Set Your Preference</ng-template>

          <div class="row justify-content-center">
            <div class="col-8">

              <form [formGroup]="universityForm">

                <ng-select appearance='fill' placeholder="Universty Name" formControlName="selectedUni"
                  [items]="univerisitiesList" bindLabel="name" appendTo="body" [multiple]="true">
                </ng-select>

              </form>

              <ng-container *ngIf="selectedUniversities.length > 0">
                <div class="card my-4" *ngFor="let name of selectedUniversities">
                  <div class="card-body">
                    <h4 class="card-title mb-2">University: {{ name }}</h4>
                    <!-- <h4 class="card-subtitle mb-2 text-muted">City: {{ uniRerod.city }}</h4>
                      <h4 class="card-subtitle mb-2 text-muted"> Facutly: {{ uniRerod.facutly }} </h4> -->
                  </div>
                </div>
                <hr class="px-5" />
              </ng-container>

            </div>
            <div class="col-6">
              <div class="row">
                <div class="col-6">
                  <button type="submit" (click)="stepperPrevious()" class="btn btn-default submitbutton">
                    Back
                  </button>
                </div>
                <div class="col-6">
                  <button type="submit" (click)="stepperNext()" class="btn btn-default submitbutton">
                    Next
                  </button>
                </div>
              </div>
            </div>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Commence Applying</ng-template>

          <div class="row justify-content-center">

            <div class="col-10">

              <ng-container *ngIf="selectedUniversities.length > 0">
                <div class="card my-4" *ngFor="let name of selectedUniversities">
                  <div class="card-body">
                    <h4 class="card-title mb-2">University: {{ name }}</h4>
                    <h4 class="card-subtitle mb-2 text-muted">Price: 1&nbsp;$</h4>
                  </div>
                </div>
                <div class="card my-4">

                  <div class="card-body">
                    <h4 class="card-title mb-2"><b>
                      Net Amount &nbsp;
                      <span>

                        {{selectedUniversities.length}}&nbsp;$
                      </span>
                    </b>  
                  </h4>
                  </div>

                </div>
                <hr class="px-5" />
              </ng-container>
            </div>

            <div class="col-6">
              <div class="row">
                <div class="col-6">
                  <button type="submit" (click)="stepperPrevious()" class="btn btn-default submitbutton">
                    Back
                  </button>
                </div>
                <div class="col-6">
                  <button type="submit" [disabled]="selectedUniversities.length === 0" (click)="saveUserPreferences()"
                    class="btn btn-default submitbutton">
                    Submit
                  </button>
                </div>
              </div>
            </div>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </mat-drawer-container>
</body>

</html>