<main id="main" class="mt-2">
  <section id="services" class="services section-nu">
    <div class="row">
      <div class="col-12">
        <ngb-carousel interval="3000" [animation]="false">
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper ban_slider">
              <img
                src="../../../assets/img/1st_bn.png"
                alt="Random first slide"
              />
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img
                src="../../../assets/img/2nd_bn.png"
                alt="Random second slide"
              />
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img
                src="../../../assets/img/3rd_bn.png"
                alt="Random second slide"
              />
            </div>
          </ng-template>
          
        </ngb-carousel>
      </div>
    </div>
    <div class="container mt-5" data-aos="">
      <div class="section-title">
        <h2>JOIN NOW</h2>
        <p style="color: #376bb4 !important" class="para">
          Avail Your Once in a Lifetime Oppertunity
        </p>
      </div>
      <div data-aos="fade-up" class="row justify-content-between text-center">
        <div class="col-4">
          <div class="md-12">
            <img width="25%" src="assets/img/join_1.png" />
          </div>
          <div class="mt-3">
            <span class="span1">Country.</span>
          </div>
          <div class="text-left">
            <span class="span2">Select Your Country of Choice</span>
          </div>
        </div>
        <div class="col-4">
          <img width="80%" src="assets/img/join_2.png" />
        </div>
        <div class="col-4">
          <!-- style="margin-left: 118px;" -->
          <div class="col-12">
            <img width="25%" src="assets/img/join_3.png" />
          </div>
          <div class="col-12 mt-3">
            <span class="span1">Plan</span>
          </div>
          <div class="col-12">
            <span class="span2">Prepare Your Own Plan</span>
          </div>
        </div>
      </div>
      <div
        data-aos="fade-up"
        class="row justify-content-between mt-5 text-center"
      >
        <div class="col-4">
          <div class="col-12">
            <img width="30%" src="assets/img/join_4.png" />
            <div class="col-12 mt-3">
              <span class="span1">Your Interest.</span>
            </div>
            <div class="col-12">
              <span class="span2"
                >Filter and Find Your Program that Matches Your Interest</span
              >
            </div>
          </div>
        </div>
        <div class="col-4">
          <img width="60%" src="assets/img/join_5.png" />
        </div>
        <div class="col-4">
          <div class="col-12">
            <img width="25%" src="assets/img/join_6.png" />
          </div>
          <div class="col-12 mt-3" style="margin-left: 27%">
            <span class="span1">Admission Formalities</span>
          </div>
          <div class="col-12" style="margin-left: 11%">
            <span class="span2">Let Us Take Care of Your Application</span>
          </div>
          <div class="col-12" style="margin-left: 11%">
            <span class="span2">Process & Admission Formalities</span>
          </div>
        </div>
      </div>
      <div class="row justify-content-between text-center mt-5">
        <div data-aos="fade-up" class="col-12">
          <img width="12%" style="" src="assets/img/join_7.png" />
        </div>
        <div class="mt-3 col-12" style="margin-left: 5%">
          <span class="span1">Admission Worldwide.</span>
        </div>
        <div class="text-left col-12" style="margin-left: 4%">
          <span class="span2" style="">Secure Your Admission Worldwide</span>
        </div>
      </div>
    </div>
  </section>

  <hr class="px-5" />

  <section id="services" class="services section-nu" data-aos="fade-up">
    <div class="row">
      <div class="col-12 text-center">
        <h2>NATIONAL UNIVERSTIES</h2>
      </div>
      <div class="col-12">
        <div class="container1">
          <div class="box1"></div>
          <div class="box2 stack-top text-center">
            <div class="videoDiv">
              <video autoplay muted loop width="100%" height="100%">
                <source src="{{ nationalSource }}" type="video/mp4" />
              </video>
            </div>
          </div>
          <div class="row text-center nationalMainBox">
            <div class="col-6 nationalBox">
              <h1 style="color: white; margin-top: 3%">
                NATIONAL UNIVERSITIES OF PAKISTAN
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <hr class="px-5" />

  <section id="services" class="services section-nu" data-aos="fade-up">
    <div class="row">
      <div class="col-12 text-center">
        <h2>INTERNATIONAL UNIVERSTIES</h2>
      </div>
      <div class="col-12">
        <div class="container1">
          <div class="box3">HI</div>
          <div class="box2 stack-top text-center">
            <div class="videoDiv">
              <video autoplay muted loop width="100%" height="100%">
                <source src="{{ interNationalSource }}" type="video/mp4" />
              </video>
            </div>
          </div>
          <div class="row text-center nationalMainBox1 mt-5">
            <div class="col-9 internationalBox">
              <!-- Canada
Australia 
United Kingdom 
United States
Germany
Italy 
Malaysia 
Sweden
Kyrgyzstan 
China
Russia
Uzbekistan
Ukraine 
kazakhstan
Belarus -->
              <div class="row justify-content-between" style="height: 47%">
                <div class="col-2 internationalInner">
                  <p style="margin-top: 6px">Canada</p>
                </div>
                <div class="col-1 internationalInner ml-5">
                  <p style="margin-top: 6px">Australia</p>
                </div>
                <div class="col-2 internationalInner">
                  <p style="margin-top: 6px">United Kingdom</p>
                </div>
                <div class="col-2 internationalInner">
                  <p style="margin-top: 6px">United States</p>
                </div>
                <div class="col-1 internationalInner">
                  <p style="margin-top: 6px">Germany</p>
                </div>
                <div class="col-1 internationalInner">
                  <p style="margin-top: 6px">Ukraine</p>
                </div>
                <div class="col-1 internationalInner">
                  <p style="margin-top: 6px">kazakhstan</p>
                </div>
                <div class="col-1 internationalInner">
                  <p style="margin-top: 6px">Romania</p>
                </div>
              </div>

              <div class="row justify-content-between mt-2">
                <div class="col-1 internationalInner">
                  <p style="margin-top: 8px">Italy</p>
                </div>
                <div class="col-1 internationalInner ml-5">
                  <p style="margin-top: 8px">Malaysia</p>
                </div>
                <div class="col-2 internationalInner">
                  <p style="margin-top: 8px">Sweden</p>
                </div>
                <div class="col-1 internationalInner">
                  <p style="margin-top: 8px">Russia</p>
                </div>
                <div class="col-1 internationalInner">
                  <p style="margin-top: 8px">Belarus</p>
                </div>
                <div class="col-2 internationalInner">
                  <p style="margin-top: 8px">Uzbekistan</p>
                </div>
                <div class="col-2 internationalInner">
                  <p style="margin-top: 8px">Kyrgyzstan</p>
                </div>
                <div class="col-1 internationalInner">
                  <p style="margin-top: 8px">China</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ======= Services Section ======= -->
  <hr class="px-5" />
  <section id="services" class="services section-nu">
    <div class="container-fluid" data-aos="fade-up">
      <div class="section-title">
        <h2>Services</h2>
      </div>

      <section class="d-flex align-items-center hero">
        <div class="container" data-aos="fade-up" data-aos-delay="100">
          <div class="row">
            <div class="col-md-6">
              <h1 class="innerText mt-4">WE PROVIDE</h1>
              <h1 class="innerText" style="margin-top: 5rem !important">
                YOU WITH
              </h1>
              <div
                class="readMoreBtn text-center"
                style="margin-top: 3rem !important"
              >
                <p class="readImg">Read More</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row ml-4" data-aos="fade-left">
                <div class="col-10 reImg1">
                  <p class="teeee">Responsive Interactive Session</p>
                </div>
                <div class="col-2">
                  <img width="60%" style="margin-top: 0.6rem;" src="../../../assets/img/provide/Asset 26.png" alt="">
                </div>
              </div>
              <div class="row ml-4 mt-2" data-aos="fade-left">
                <div class="col-10 reImg2">
                   <p class="teeee">Responsible Career Counselling/p>
                </div>
                <div class="col-2">
                    <img width="60%" style="margin-top: 0.6rem;" src="../../../assets/img/provide/Asset 27.png" alt="">
                </div>
              </div>
              <div class="row ml-4 mt-2" data-aos="fade-left">
                <div class="col-10 reImg3">
                   <p class="teeee">Assistance with the preparation of Documents</p>
                </div>
                <div class="col-2">
                    <img width="60%" style="margin-top: 0.6rem;" src="../../../assets/img/provide/Asset 28.png" alt="">
                </div>
              </div>
              <div class="row ml-4 mt-2" data-aos="fade-left">
                <div class="col-10 reImg4">
                   <p class="teeee">Free Visa and Pre - Departure Counselling</p>
                </div>
                <div class="col-2">
                    <img width="60%" style="margin-top: 0.6rem;" src="../../../assets/img/provide/Asset 29.png" alt="">
                </div>
              </div>
              <div class="row ml-4 mt-3">
                <div class="col-12">
                  <h4 style="font-size: 22px; color: white">
                    Because Every Student is an invaluable Asset to Our Nation
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
</main>
<hr class="px-5" />

<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Contact Us</h2>
    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="100">
      <div class="col-lg-6">
        <div class="row">
          <div class="col-md-12">
            <div class="info-box">
              <i class="bx bx-map"></i>
              <h3>Our Address</h3>
              <p>A108 Adam Street, New York, NY 535022</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info-box mt-4">
              <i class="bx bx-envelope"></i>
              <h3>Email Us</h3>
              <p>info@example.com<br />contact@example.com</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info-box mt-4">
              <i class="bx bx-phone-call"></i>
              <h3>Call Us</h3>
              <p>+1 5589 55488 55<br />+1 6678 254445 41</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <form
          action="forms/contact.php"
          method="post"
          role="form"
          class="php-email-form"
        >
          <div class="row">
            <div class="col-md-12 text-center">
              <h3 style="font-weight: 500; color: #2b2584">Contact Us Now</h3>
            </div>
          </div>
          <div class="row">
            <div class="col form-group">
              <input
                type="text"
                name="name"
                class="form-control"
                id="name"
                placeholder="Name"
                required
              />
            </div>
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              name="subject"
              id="subject"
              placeholder="Phone Number"
              required
            />
          </div>
          <div class="form-group">
            <input
              class="form-control"
              name="message"
              placeholder="E-mail"
              required
            />
          </div>
          <div class="my-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">
              Your message has been sent. Thank you!
            </div>
          </div>
          <div class="text-center">
            <button type="submit">SUBMIT NOW</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<div>
  <app-footer></app-footer>
</div>
<div data-aos="fade-up" data-aos-delay="100">
  <div class="row p-3" style="color: #8d7e66; background-color: #f9b047">
    <div class="col-1 text-right">
      <p style="float: right; margin-right: 4%">Sitemap</p>
    </div>
    <div class="col-1 text-center"><p>Privacy Policy</p></div>
    <div class="col-2"><p>Trust & Security</p></div>
    <div class="col-8">
      <p style="float: right; margin-right: 11%">
        Copyright @ 2021 . DRIVETHRU
      </p>
    </div>
  </div>
</div>
