.contact .php-email-form{
    height: 100% !important;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.wrapper>div{
    width: calc(50% - 5px);
}
.box{
    width: 100%;
    max-width: 200px;
    height: 100px;
    background: white;
    border-radius: 5px;

}
.nav-heading {
    color: #2b5792 !important;
    
}
.nav-thru {
    color: #f3712a;

}