<div class="container">
    <div class="login_form">
        <div class="col-12 row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="col-sm-12">
                    <router-outlet></router-outlet>
                    <div class="Login_left pageWrapper">
                        <div>
                            <div class="signin-text mb-2">Sign Up To</div>
                            <img style="width: 100px; height: 100px;" src="./assets/img/app-logo.png">
                            <form [formGroup]="singUpForm" novalidate="" action="/addtional-details"
                                class="ng-valid ng-dirty ng-touched mt-3">
                                <input type="text" formControlName="fullName" placeholder="Full Name"
                                    class="user form-control ng-valid ng-dirty ng-touched mb-2">
                                <input type="text" formControlName="email" placeholder="Email"
                                    class="user form-control ng-valid ng-dirty ng-touched mb-2">
                                <input type="text" formControlName="contact" placeholder="Contact (03034727173)"
                                    class="user form-control ng-valid ng-dirty ng-touched mb-2">
                                <div class="input-group1">
                                    <input type="password" formControlName="password" placeholder="Password"
                                        class="Password form-control mb-2">
                                </div>
                                <!-- <a class="forgot_password">Forgot Your Password?</a> -->
                                <input type="submit" value="SIGN UP" class="btn" (click)="submitForm()">
                            </form>
                        </div>
                        <div>
                            <p class="mt-30 account_p"> Don't have an account? <a routerLink="/auth/signin"
                                    class="theme_colr font_weight font-bold">Sign In Now</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="row">
                    <div class="Login_right">
                        <div class="Login-right-text">
                            <img style="width: 100px; height: 100px;" src="./assets/img/app-logo.png" width="200">
                            <p class="m-5">How it works:
                             Create your account
                             Shortlist Universities
                             Consult our experts
                             Apply
                            Meanwhile enjoy our free features;
                            • One-On-One Session with our In-House Experts
                            • Assisted Recommendations and Counselling
                            • Advanced Search for All National Universities from (enter estimated no of courses)+ Courses and 175+ Institutes in
                            100+ Cities
                            • Admission Test Preparation</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>