.wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.wrapper>div{
    width: calc(45% - 5px);
}
.box{
    width: 100%;
    margin: 5px;
    background-color: #a5b2cc !important;
    max-width: 200px;
    height: 100px;
    background: white;
    border-radius: 25px;
}

.box-text {
        color: white;
    margin: 6% 30%;
}

p{
    margin-bottom: 0px !important;
}