<!--Login left-->
<div class="Login_left pageWrapper">
  <h1>RESET PASSWORD</h1>
  <img src="./assets/img/svg/CRICNIX-Logo.svg" />
  <p>Enter your email address to get link for Password reset.</p>
  <form [formGroup]="formGroup" action="signup2.html" (ngSubmit)="getLink()">
    <input type="email" class="email mt-1 form-control" formControlName="username" placeholder="Email Address" />
    <input type="submit" value="GET LINK" class="mt-70 btn" />
  </form>
  <p class="mt-30 account_p">
    Wait! I remember now.<a class="theme_colr font_weight font-bold" href="/signin">
      Sign In</a>
  </p>
</div>
<!--Login left-->
